body
{
	background: #46483e;
	color: #eee;
	font-size: 13px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
	margin: 0;
	padding-top: 15px;
	border-top: 6px #EA1943 solid;
}

#intro
{
	width: 850px;
	margin: 0 auto;
	color: #d2d8ba;
}

#quotes
{
	text-align: center;
	width: 100%;
	background-color: #33342d;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#content
{
	width: 850px;
	margin: 0 auto;
	margin-top: 20px;
	overflow: visible;
	clear: both;
	display: block;
}

#project
{
	width: 850px;
	margin: 0 auto;
	overflow: visible;
	clear: both;
	display: block;
	padding-top: 20px;
	position: relative;
}

#client
{
	width: 850px;
	margin: 0 auto;
	margin-top: 20px;
	overflow: visible;
	clear: both;
	display: block;
	padding-top: 20px;
}

#front #footer
{
	width: 850px;
	margin: 50px auto 30px auto;
	padding-top: 15px;
}

.btn-youth
{
	background-color: #ea1943;
	border-color: #ea1943;
	color: white;
	font-size: 16px;
}

.btn-youth:hover
{
	background-color: #ea1943;
	border-color: #ea1943;
	color: white;
	font-size: 16px;
}

.label-youth
{
	background-color: #ea1943;
	border-color: #ea1943;
	color: white;
}

.btn-green
{
	background-color: #5cb85c;
	border-color: #5cb85c;
	color: white;
}

.btn-green:hover
{
	background-color: #5cb85c;
	border-color: #5cb85c;
	color: white;
}

.btn-nav-left
{
	left:-40px;
	margin-top:150px;
	position: absolute;
}

.btn-nav-right
{
	right:-40px;
	margin-top:150px;
	position: absolute;
}

.btn a
{
	color: inherit;
	text-decoration: none;
}
.sequence-theme {
width: 100%;
	background-color: #33342d;
  
}

#sequence {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  background:#33342d;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  color: white;
  font-size: 0.625em;
  margin: 0 auto;
  position: relative;
  height: 330px;
  margin-top:2px;
}
#sequence > .sequence-canvas {
  height: 100%;
  width: 100%;
}
#sequence > .sequence-canvas > li {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: -50%;
}
#sequence > .sequence-canvas > li img {
  height: 96%;
}
#sequence > .sequence-canvas li > * {
  position: absolute;
  -webkit-transition-property: left, opacity;
  -moz-transition-property: left, opacity;
  -ms-transition-property: left, opacity;
  -o-transition-property: left, opacity;
  transition-property: left, opacity;
}

.sequence-next,
.sequence-prev {
  color: white;
  cursor: pointer;
  display: none;
  font-weight: bold;
  padding: 10px 15px;
  position: absolute;
  top: 50%;
  z-index: 1000;
  height: 75px;
  margin-top: -47.5px;
}

.sequence-pause {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
}

.sequence-paused {
  opacity: 0.3;
}

.sequence-prev {
  left: 10%;
}

.sequence-next {
  right: 10%;
}

.sequence-prev img,
.sequence-next img {
  height: 100%;
  width: auto;
}

#sequence-preloader {
   background:#33342d;
}

.sequence-pagination {
  bottom: 5%;
  display: none;
  right: 20%;
  position: absolute;
  z-index: 10;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
 
}
.sequence-pagination li {
  display: inline-block;
  *display: inline;
  height: 50px;
}
.sequence-pagination li img {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: margin-bottom, opacity;
  -moz-transition-property: margin-bottom, opacity;
  -ms-transition-property: margin-bottom, opacity;
  -o-transition-property: margin-bottom, opacity;
  transition-property: margin-bottom, opacity;
  width:50px;
  height:50px;
}
.sequence-pagination li img:hover {
  margin-bottom: 4px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.sequence-pagination li.current img {
  opacity: 1;
}

h2 {
  color: white;
  font-family: "Sirin Stencil", serif;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-family: "Ruluko", serif;

}

.title {
  font-size: 3.4em;
  left: 65%;
  width: 35%;
  opacity: 0;
  bottom: 1%;
  z-index: 50;
}

.animate-in .title {
  left: 50%;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.animate-out .title {
  left: 35%;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.subtitle {
  color: black;
  font-size: 2em;
  left: 35%;
  width: 35%;
  opacity: 0;
  top: 101%;
}

.animate-in .subtitle {
  left: 50%;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.animate-out .subtitle {
  left: 65%;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.model {
  left: 30%;
  bottom: -48%;
  opacity: 0;
  position: relative;
  height: auto !important;

  max-height: 568px !important;
  width: 30%;
  min-width: 225px;
  /* prevents the model from shrinking when the browser is resized */
  max-width: 266px;
}

.animate-in .model {
  left: 15%;
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.animate-out .model {
  left: 15%;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.btn-pro
{
	margin-top:2px;
	background-color: #33342d;
	border-color: #33342d;
	color: white;
	font-size: 16px;
}

.btn-pro:hover
{
	background-color: #ea1943;
	border-color: #ea1943;
	color: white;
	font-size: 16px;
}
.row{}
.col-md-3{
	}
	 .thumbnail{
		}
.thumbnail img{
		
}
.thumbnail .caption{
			
			}
			#galprev,#galnext {position: absolute; z-index:20; top: 125px; cursor: pointer; background: #000; color: #fff; width: 28px; height: 20px; line-height: 20px;
			#galprev {left: 0;}
#galnext {right: 0;}

		

