body
{
	background: white;
	color: black;
	font-size: 15px;
	font-family: Tahoma, "Lucida Sans", "Lucida Sans Unicode", sans-serif, Verdana, "Lucida Grande";
	margin: 0;
}
#header{}
#intro{
	background:#f2f2f2;
	background-image:url(../content/bg_search.jpg);
	}	
#quotes{}
#main{}
#about{}	
#footer{
	border-top:3px #0FF solid;
	background:#CCC;
		}
.col-md-3
{
	width:195px;
}
.thumbnail:hover{
	text-decoration:none;
	}
.tab-pane{
		background:#00b9f2;
		}
.tab-content{
		background:#00b9f2;
				}
.top-content{
        background-image:url(../content/bg_search.jpg);
		}
.seach{
	width:900px;
	margin-left:50px;
	}
.boder{
	border:5px solid #CCC;
	}

.in{
	background:#FFF;
	border:2px solid #00b9f2;
	margin-top:-40px;
					}
.menu-left{
	display:block;
    border-bottom:1px solid #CCC;
		}
 .menu-left li{
	margin-left:-30px;											
    display: block;	
	}
  .menu-left li a{
	color: #00F;
   }
  .top-job{
	 color:#09F;
	 font-size:25px;
	  margin-left:30px;
	  }
  
 .job{
	 height:600px;
	 overflow:scroll;

	 }
.consulting{
	margin-left:20px;
}
						
														
			